---
import type { CollectionEntry } from "astro:content"
import { formatDate, readingTime } from "@lib/utils"

type Props = {
  entry: CollectionEntry<"projects"> | CollectionEntry<"blog">
}

const { entry } = Astro.props
const { collection, data, body } = entry
const { title, summary, date } = data

const demoUrl = collection === "projects" ? data.demoUrl : null
const repoUrl = collection === "projects" ? data.repoUrl : null
---

<div>
  <a href={`/${collection}`} class="group w-fit px-3 py-1.5 gap-2 text-sm flex items-center border border-border rounded-md text-foreground/60 hover:text-foreground hover:bg-foreground/5 blend">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current rotate-180">
      <line x1="19" y1="12" x2="5" y2="12" />
      <polyline points="12 19 5 12 12 5" />
    </svg>
    <span>Back to {collection}</span>
  </a>
  <div class="flex flex-wrap text-sm uppercase mt-8 gap-4 text-foreground/60">
    <div class="flex items-center gap-2">
      <svg class="size-4 stroke-current">
        <use href="/ui.svg#calendar"/>
      </svg>
      {formatDate(date)}
    </div>
    <div class="flex items-center gap-2">
      <svg class="size-4 stroke-current">
        <use href="/ui.svg#book-open"/>
      </svg>
      {readingTime(body)}
    </div>
  </div>
  <h1 class="text-3xl font-semibold text-foreground mt-4">
    {title}
  </h1>
  <div class="mt-2 text-foreground/60">
    {summary}
  </div>
  {(demoUrl || repoUrl) && 
  <div class="mt-6 flex flex-wrap gap-2">
    {demoUrl && 
      <a href={demoUrl} target="_blank" class="group flex gap-2 items-center px-3 py-1.5 rounded-md text-sm border border-border text-foreground/60 hover:text-foreground hover:bg-foreground/5 blend">
        <svg class="size-4 fill-current">
          <use href="/ui.svg#globe"/>
        </svg>
        <span>Visit Website</span>
      </a>
    }
    {repoUrl && 
      <a href={repoUrl} target="_blank" class="group flex gap-2 items-center px-3 py-1.5 rounded-md text-sm border border-border text-foreground/60 hover:text-foreground hover:bg-foreground/5 blend">
        <svg class="size-4 fill-current">
          <use href="/ui.svg#link"/>
        </svg>
        <span>Browse Repo</span>
      </a>
    }
  </div> 
  }
</div>
