---
import { type CollectionEntry, getCollection } from "astro:content"

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">
}

// Get the requested entry
const { entry } = Astro.props
const { collection } = entry
const { Content } = await entry.render()

// Get the next and prev entries (modulo to wrap index)
const items = (await getCollection(collection))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
const index = items.findIndex(x => x.slug === entry.slug)
const prev = items[(index - 1 + items.length) % items.length]
const next = items[(index + 1) % items.length]

const aboutUrl = collection === "projects" ? entry.data.aboutUrl : null
---

<div>
  <article>
    <Content/>
    { aboutUrl && <p><a href={aboutUrl} target="_blank" class="text-foreground underline underline-offset-2 decoration-foreground/30 hover:decoration-foreground">Learn More &rarr;</a></p> }
  </article>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-12">
    <a href={`/${prev.collection}/${prev.slug}`} class="group p-4 gap-4 flex items-center border border-border rounded-md hover:bg-foreground/5 blend">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current text-foreground/40 group-hover:text-foreground rotate-180 flex-shrink-0 blend">
        <line x1="5" y1="12" x2="19" y2="12" />
        <polyline points="12 5 19 12 12 19" />
      </svg>
      <div class="w-full">
        <div class="text-sm uppercase text-foreground/60">
          Prev
        </div>
        <div class="font-medium mt-1 text-foreground group-hover:opacity-70 blend">
          {prev.data.title}
        </div>
      </div>
    </a>
    <a href={`/${next.collection}/${next.slug}`} class="group p-4 gap-4 flex items-center border border-border rounded-md hover:bg-foreground/5 blend">
      <div class="w-full text-right">
        <div class="text-sm uppercase text-foreground/60">
          Next
        </div>
        <div class="font-medium mt-1 text-foreground group-hover:opacity-70 blend">
          {next.data.title}
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current text-foreground/40 group-hover:text-foreground flex-shrink-0 blend">
        <line x1="5" y1="12" x2="19" y2="12" />
        <polyline points="12 5 19 12 12 19" />
      </svg>
    </a>
  </div>
</div>
